#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 180px;
    height:200px;
    border-radius: 60px;
}
#textbox
{
    width: 300px;
}

body
{
background-image:url(colorwave.gif.crdownload);
background-size:cover;
}
